<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Trip #<%= @trip.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/trips" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @trip.owner %>
          <a href="/trips/<%= @trip.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit trip
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @trip.owner %>
          <a href="/delete_trip/<%= @trip.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete trip
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Country name
      </dt>
      <dd>
        <%= @trip.country_name %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @trip.image %>" class="img-fluid">
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <% if @trip.owner.present? %>
          <a href="/users/<%= @trip.owner_id %>">
            <%= @trip.owner.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        City visited
      </dt>
      <dd>
        <div>
          <%= render partial: "trip_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @trip.rating %>
      </dd>

      <dt>
        Must do
      </dt>
      <dd>
        <%= @trip.must_do %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@trip.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@trip.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "trip_templates/trip_likes" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "trip_templates/trip_comments" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "trip_templates/trip_fan_followers" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "trip_templates/trip_followers" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "trip_templates/trip_fans" %>
  </div>
</div>
